/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/* Reset default browser padding and margin */
html body {
    padding: 0px;
    margin: 0px;
}

/* Navigation styles */
#difPages {
    width: 50px;
}

#specieInfo * {
    margin: 5px;
    padding: 0px;
}

#imgEdit {
    max-width: 400px;
    width: auto;
    height: auto;
}

.dimensionName {
    font-size: 35px;
    font-weight: bold;
}

#nav {
    color: rgb(0, 0, 0); /* Text color */
    padding: 10px; /* Padding around text */
    font-weight: bold; /* Bold text */
    position: relative; /* Ensure z-index works */
    z-index: 1000; /* Ensure nav is in the foreground */
}

.divLi:hover {
    background-color: #a1abff; /* Change color on hover */
    border-radius: 50px 50px 50px 50px;
}

.divLi {
    cursor: pointer;
    padding-inline: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222088; /* Background color */
    border-radius: 50px 50px 50px 50px;
}

.divLi > * {
    padding-inline: 7px;
}

.menu-item li:hover {
    background-color: #a1abff; /* Change color on hover */
}

.menu-item {
    position: relative; /* Necessary for positioning dropdown */
    padding-inline: 7px;
    width: auto;
    z-index: 1000; /* Ensure menu item is in the foreground */
}

.menu-item div a {
    cursor: pointer;
}

.dropdown {
    list-style: none; /* Remove bullets */
    padding: 0;
    margin: 0;
    position: absolute; /* Position relative to parent */
    left: 50%; /* Centered */
    transform: translateX(-50%); /* Centered */
    display: none; /* Hidden by default */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
    width: auto; /* Width */
}

.dropdown2 {
    list-style: none; /* Remove bullets */
    padding: 0;
    margin: 0;
    position: absolute; /* Position relative to parent */
    transform: 0; /* Centered */
    display: none; /* Hidden by default */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
    width: auto; /* Width */
}

.liIntro {
    cursor: pointer;
    white-space: nowrap; /* No line break */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 50px 50px;
}

.liIntro > * {
    padding-inline: 7px;
}

.menu-item:hover .dropdown {
    display: block; /* Show on hover */
}

.liIntern:hover .dropdown2 {
    display: block; /* Show on hover */
}

.dropdown li, .dropdown {
    background-color: #222088; /* Background color */
}

.menu {
    list-style: none; /* Remove bullets */
    padding: 0;
    margin: 0;
    display: flex;
    height: fit-content;
}

/* .dropdown:after, .dropdown:before { Lorsque j'ai tenté de positionner mes dropdowns, mais trop complexe et marche pas
    bottom: -1px;  Position at bottom 
    content: "";
    height: 0;
    left: 50%;  Centered 
    pointer-events: none;  No click 
    position: absolute;  Absolute positioning 
    width: 0;
} */

#header { /* pour que le menu déroulant soit par dessus le reste et ne soit pas caché derrière texte principal */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between;
    height: 140px;
    background-color: black;
    opacity: 0.94;
    border-radius: 0 0 50px 50px;
    position: relative; /* Ensure z-index works */
    z-index: 1000; /* Ensure header is in the foreground */
}

.small-icon {
    width: 10px;
    height: 10px;
    vertical-align: bottom; /* Align at bottom */
}

#icon {
    width: auto;
    height: 100px;
    margin-left: 50px;
    margin-top: 0px;
    border-radius: 100px 100px 100px 100px;
}

#global { /* Background image */
    height: fit-content; /* Total page height */
    min-height: 100%;
    width: 100%;
    background-image: url('../images/Qarios_constellation_eye.webp'); /* Background image */
    background-size: 100vh; /* Cover entire page */
    background-position: center; /* Center image */
    background-size: cover; /* Cover entire surface */
    background-attachment: fixed; /* Fixed during scroll */
    background-repeat: no-repeat; /* No repeat */
}

#divTitre {
    display: grid;
    place-items: center;
    width: auto;
    color: rgb(90, 14, 189);
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.Title {
    padding: 10px;
    font-size: 30px;
    margin: 0px;
}

#divConnect { /* affichage en colonne */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40;
}

#LoginCo {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(81, 181, 211);
    font-family: 'Cinzel', serif;
    font-weight: bold;
    margin: 10px;
}

#LoginDeco {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    color: rgb(81, 181, 211);
    font-family: 'Cinzel', serif;
    font-weight: bold;
    margin: 10px;
}

#LoginDeco a, #LoginCo a {
    font-size: 13px;
}

#Connect {
    cursor: pointer;
    width: 250px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(138, 67, 0);
    color: rgb(116, 0, 0);
    padding: 20px;
    font-family: 'Cinzel', serif;
}

#englobe { /* leftText + texteDroite */
    display: flex;
    height: calc(100% - 280px); /* 100% of page - header height - margin of leftText - padding of leftText */
    width: 100%;
}




.leftText {
    width: 700px;
    margin: 30px;
    padding: 20px;
    padding-top: 0px;
    background-color: black;
    opacity: 0.92;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 30px 30px 30px 30px;
    height: fit-content;
}

.leftText span {
    color: rgb(159, 169, 255);
}

#leftHeaderText {
    width: 100%;
    display: flex;
}

#nav {
    display: flex;
    position: relative; /* Ensure z-index works */
    z-index: 1000; /* Ensure nav is in the foreground */
}

#leftHeaderText div {
    width: 50px;
    flex-grow: 1; /* Stretch to occupy full width */
    flex-shrink: 0; /* Prevent shrinking */
}

#leftHeaderText img {
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
}

#divDroite {
    display: flex;
    align-items: center;
    padding-left: 50;
}

#mainText, #mainTextList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(100% - 140px);
    margin: 50px;
    margin-inline: 2%; /* Margin between elements */
    padding: 20px;
    background-color: black;
    opacity: 0.96;
    color: white;
    border-radius: 8px 8px 8px 8px;
    height: fit-content;
    position: relative; /* Ensure z-index works */
    z-index: 1; /* Ensure them to be below dropdown */
}

#mainTextList {
    margin: 0px;
    flex-direction: row;
}

#pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#pagination a {
    margin: 10px;
}

#add_specie, #add_race {
    flex-wrap: unset;
    flex-direction: column;
}

#add_race h2, #add_specie h2 { /* title page add_race */
    margin: 10px;
}

#content_input {
    width: 70%;
    height: 90px;
}

.raceNameMulti {
    color: blue;
    font-weight: bold;
}

.raceNameUnique {
    color: red;
    font-weight: bold;
    font-size: 22px;
}

#Return {
    color: blue; /* Text color */
    text-decoration: underline; /* Underline */
    cursor: pointer; /* Pointer cursor */
    width: fit-content;
}

.sous_section { /* Encapsulate and limit classimgSelection and texteSelection */
    height: fit-content;
    margin-top: 20px;
}

.selection { /* Encapsulate imgSelection and texteSelection */
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 20px;
    padding: 0px;
    flex-grow: 1; /* Stretch to occupy full width */
    flex-shrink: 0; /* Prevent shrinking */
    flex-basis: auto; /* Base size */
}

.classImgSelection {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.imgSelection {
    width: 200px;
    height: auto;
    margin: 0px;
    margin-bottom: 10px;
}

.texteSelectionAccueil {
    width: 100%;
    text-align: center;
    font-family: 'Cinzel', serif;
}

#retour {
    position: absolute; /* Absolute positioning */
}

.title {
    margin: 0px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Cinzel', serif;
}

.infoBox {
    display: flex;
    align-items: stretch;
    margin: 0px;
    padding: 0px;
    border-right: 3px solid grey;
    opacity: 0.9;
    height: fit-content;
    width: fit-content;
}

.infos {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    width: fit-content;
}

.infos div {
    border-bottom: grey 3px solid;
    flex-grow: 1;
    margin-top: 8%;
}

.infos div:last-child { /* No border-bottom for last child */
    flex-grow: 1;
    border: none;
}

.infosP {
    text-decoration: underline;
    margin-top: 5px;
    margin: 0px;
    padding-inline: 5px;
    color: rgb(255, 255, 88);
    font-weight: bold;
}

.infosT {
    font-weight: bold;
    margin: 0px;
    padding-inline: 5px;
}

.infos div p {
    white-space: nowrap; /* No line break */
}

/* Optional: Change color on hover */
#Return:hover {
    color: darkblue; /* Hover color */
}

.selectionRace {
    display: flex;
    margin: 20px;
    padding: 0px;
    flex-grow: 1; /* Stretch to occupy full width */
    flex-shrink: 0; /* Prevent shrinking */
    flex-basis: auto; /* Base size */
    border: 3px solid grey;
}

.classImgSelectionRace {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
    flex-grow: 1;
    width: fit-content;
    border-right: 3px solid grey;
    font-size: 20px;
}

.imgSelectionRace {
    width: 200px;
    height: auto;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom: 3px solid grey;
}

.texteSelection {
    padding: 15px;
    height: fit-content;
    width: 100%;
    text-align: left;
}

.dropdown li ul {
    list-style: none; /* Remove bullets */
    padding: 0;
    margin: 0;
    position: absolute; /* Position relative to parent */
    top: 0; /* Align with parent */
    left: 100%; /* To the right of parent */
    display: none; /* Hidden by default */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
    width: auto; /* Width */
}

.dropdown li:hover ul {
    display: block; /* Show on hover */
}

.fadeIn { /* Fade in effect */
    opacity: 0;
    transform: translateX(-20%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fadeIn.visible { /* Visible class */
    opacity: 1;
    transform: translateX(0);
}

