html body {
    padding: 0;
    margin: 0;
    
}

#global { /* image de fond */
    height: 100%; /* règle la taille total de la page */
    width: 100%;
    background-image: url("../images/fond1.jpg");
    background-position: center; /* Centrer l'image */
    background-size: cover; /* Ajuste l'image pour couvrir toute la surface */


    /* potentiellement inutile pour ce cas */

    /* background-attachment: fixed; /* L'image reste fixe pendant le défilement */
    /* background-repeat: no-repeat; /* L'image ne se répète pas si elle est trop petite en hauteur ou largeur */
}


#link a {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: 30px;
    background-color: rgb(0, 0, 0);
    color: tomato;
    border-radius: 8px 8px 8px 8px;
}

#link {
    display: flex;
    justify-content: center;

}

#content {
    text-align: center;
    width: 60%;
    background-color: rgb(7, 59, 0);
    border-radius: 8px 8px 8px 8px;
    color: white;
    opacity: 0.85;
    margin: 40px;
    margin-top: 60px;
    padding: 20px;
    font-size: 25px;
}


.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: black;
}

#header {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    height: 100px;
    color: rgba(255, 0, 0, 0.877);
    font-weight: bold;
    font-size: 40px;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000; /* Contour noir du texte */
}

.qheader {
    background-color: rgb(7, 59, 0);
    border-radius: 8px 8px 8px 8px;
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000; /* Contour noir du texte */
}

#englobe { /* divs sous le titre */
    display: flex;
}

#englobeIntro { /* divs sous le titre */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions {
    margin: 20px;
    padding: 20px;
    align-items: center;
    background-color: rgb(7, 59, 0);
    color: white;
    opacity: 0.85;
    height: fit-content;
    width: 300px;
    border-radius: 8px 8px 8px 8px;
    flex-grow: 1; /* Permet aux enfants de s'étirer pour occuper toute la largeur disponible */
    flex-shrink: 0; /* Empêche les enfants de se rétrécir */

}

.questions div {

    align-content: center;

}


.longInput {
    width: 100%;
    height: 100px;
}

#qsage {
    width: 500px;
    height: 120px;
}

#divsPrincipal {
    display: flex;
    height: fit-content; /*100% de la page - taille de l'entete - padding */
    width: fit-content; /*100% de la page - padding */
    flex-wrap: wrap;
    padding-inline: 100px;
    padding-top: 50px;
}